/* ### START GLOBAL ### */
@font-face {
    font-family: 'Manrope';
    src: url('../../libs/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

html,
body {
    height: 100%;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

:root {
    /* --dark-white: #E5E5E5; */
    --dark-white: #F9F5F5;
    --black: #000000;
    --light-grey: #747474;
}

body {
    background-color: var(--dark-white);
    overflow-y: hidden;
}

#projects {
    overflow-y: auto;
}

/* .container {
    margin-right: 100px;
    margin-left: 100px;
} */

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
span {
	font-family: 'Manrope', sans-serif;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

/* .contentBox {
    height: calc(100vh - 167px);
    align-items: center;
} */


/* ### END GLOBAL ### */

/* ### START NAVBAR ### */
.navbar {
    background-color: var(--dark-white);
}
/* .navbar {
    background-color: var(--dark-white);
    height: 56px;
    margin-bottom: 43px;
    margin-top: 43px;
    padding: 0;
    position: relative;
} */
/* .navbarBox {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
} */
/* .btnBurger,
.btnBurger:focus {
    text-decoration: none;
    border: none;
    box-shadow: none;
    display: contents;
    right: 12px;
    position: absolute;
} */
.navbox ul {
    height: calc(100vh - 133px); /* era 183px */
    display: flex;
    flex-direction: column; /* era row */
    align-items: center;
    list-style-type: disc;
    border: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.navbox li {
    font-weight: 600;
    font-size: 24px;
    padding: 26px 0;
    margin: 0 auto;
    border: none;
}
.navbox a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
}
/* ### END NAVBAR ### */


/* ### START BRANDING PROJECTS ### */
.carouselBox {
    height: calc(100vh - 230px); /* era 190px */
    /* border: 2px solid #000; */
}
.carouselBox img {
    height: calc(100vh - 230px); /* 270px */ /* era 190px */
}
#customNav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#customNav button {
    border: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
#customNav button img {
    width: 48px;
    height: 48px;
}
.titleProjects h1 {
    font-size: 28px;
    font-weight: 800;
    font-style: normal;
    color: var(--black);
    margin-bottom: 5px;
}
.titleProjects span {
    font-size: 18px;
    font-weight: 400;
    color: var(--light-grey);
}
.subTitleProject {
    font-weight: 800;
    font-size: 120px;
    color: var(--black);
}
.imgProject {
    width: 100%;
    height: 75vh;
}

.leftContentContainer span,
.rightContentContainer span {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--black);    
}

.leftContentContainer {
    position: absolute;
    top: 45%;
    left: 0;
    transform: rotate(-90deg);
    display: flex;
    margin-left: -30px;
}

.rightContentContainer {
    position: absolute;
    top: 45%;
    right: 0;
    transform: rotate(-90deg);
    display: flex;
    margin-right: 18px;
}

#testeId {
    position: relative;
}
/* ### END BRANDING PROJECTS ### */


/* ### START UX/UI PROJECTS ### */

/* ### END UX/UI PROJECTS ### */


/* ### START CONTACT ### */
#secContact {
    height: calc(100vh - 170px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    font-weight: 800;
    font-size: 72px;
    line-height: 99px;
    font-style: normal;
    text-align: center;
    margin-bottom: 90px;
    color: var(--black);
}

.contactEmail,
.contactEmail a {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    font-style: normal;
    color: var(--black);
    text-decoration: none;
    text-align: center;
}
/* ### END CONTACT ### */


/* ### START ABOUT ### */
.aboutTitle {
    font-weight: 800;
    font-size: 48px;
    font-style: normal;
    line-height: 66px;
    color: var(--black);
    margin-top: 42px;
    margin-bottom: 51px;
}

.aboutBox p {
    font-size: 22px;
    font-weight: 400;
    color: var(--light-grey);
    font-style: normal;
    margin: 0;
}
/* ### END ABOUT ### */


/* ### START FOOTER ### */
footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

footer#footerProjetos {
    position: relative;
    bottom: 0;
    margin: 15px 0;
}

.footerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBox ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

/* .footerIndex .footerBox ul {
    margin-top: 30px;
} */

.footerBox ul li {
    display: inline-flex;
    padding: 0 31px;
}

.footerBox img {
    width: 25px;
}
/* ### END FOOTER ### */



/* ### START MEDIA QUERIE ### */
@media(min-width: 1023px){
    /* .container {
        margin: 0 100px;
    } */
    .navbox ul {
        height: 100%;
    }
}
@media(max-width: 414px){
    /* START GLOBAL */
    html, body {
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    #navbarNav {
        max-height: calc(100vh - 78px);
        height: -webkit-fill-available;
    }
    .navbar-logo {
        width: 50px;
    }
    .navbox ul {
        flex-direction: column;
    }
    .collapseBox {
        position: fixed;
        background-color: var(--dark-white);
        width: 100%;
        z-index: 9;
    }
    .collapseBox.show html, body {
        overflow-y: hidden;
    }
    .contentBox {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .contactBox {
        height: calc(100vh - 200px);
    }
    /* END GLOBAL */

    /* START PROJECT */
    .leftContentContainer,
    .rightContentContainer {
        position: relative;
        transform: rotate(0deg);
        top: 0;
        justify-content: center;
        margin: 0;
    }
    .subTitleProject {
        font-size: 24px;
    }
    /* END PROJECT */

    /* START ABOUT */
    .aboutTitle {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 44px;
    }
    /* END ABOUT */


    /* START CONTACT */
    .contactTitle {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 18px;
    }
    .contactEmail,
    .contactEmail a {
        font-size: 18px;
        line-height: 25px;
    }
    /* START CONTACT */
}
/* ### END MEDIA QUERIE ### */



/* Default use:
  @include min-(width,4,240);

  use width calculation
  @include min-(width,4,240,'calc(100% - 240px)');
*/
  
.hidden {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.burger {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    background-color: transparent;
    right: 0;
    cursor: pointer;
}
.burger span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    margin: 0.0625rem 0 0.525rem 0; /* era 0.0625rem auto 0.525rem -0.75rem */
    text-indent: -999em;
    top: 50%;
    left: 0; /* era 50% */
    margin-top: -0.0625rem;
    cursor: pointer;
}
.burger span,
.burger span:before,
.burger span:after {
    display: block;
    width: 48px;
    height: 5px;
    transition: 0.3s;
    opacity: 1;
}
.burger span:before,
.burger span:after {
    position: absolute;
    content: "";
    background-color: var(--black);
}
.burger span:before {
    top: -0.525rem;
}
.burger span:after {
    top: 0.525rem;
}

.burgers {
    display: flex;
}

.burger input:checked + span:before,
.burger input:checked + span:after {
    top: 0px;
    margin-top: -0.5875rem;
}
.burger input:checked + span {
    background-color: transparent;
}
.burger input:checked + span:before {
    transform: translateY(0.525rem) rotate(45deg);
}
.burger input:checked + span:after {
    transform: translateY(0.525rem) rotate(-45deg);
}

@-webkit-keyframes menuCloseMiddle--after {
    0% {
        transform: translateY(0) rotate(0);
    }
    80% {
        transform: translateY(0.525rem) rotate(0);
    }
    100% {
        transform: translateY(0.525rem) rotate(45deg);
    }
}
@keyframes menuCloseMiddle--after {
    0% {
        transform: translateY(0) rotate(0);
    }
    80% {
        transform: translateY(0.525rem) rotate(0);
    }
    100% {
        transform: translateY(0.525rem) rotate(45deg);
    }
}
@-webkit-keyframes menuCloseMiddle--before {
    0% {
        transform: translateY(0) rotate(0);
    }
    80% {
        transform: translateY(0.525rem) rotate(0);
    }
    100% {
        transform: translateY(0.525rem) rotate(-45deg);
    }
}
@keyframes menuCloseMiddle--before {
    0% {
        transform: translateY(0) rotate(0);
    }
    80% {
        transform: translateY(0.525rem) rotate(0);
    }
    100% {
        transform: translateY(0.525rem) rotate(-45deg);
    }
}


.header-carousel.owl-carousel.owl-theme.owl-loaded.owl-drag,
.header-carousel .owl-stage-outer,
.header-carousel .owl-stage,
.header-carousel .owl-item,
.header-carousel .item,
.header-carousel .owl-item,
.header-carousel .img-responsive{
    height: calc(100vh - 190px);
    object-fit: cover;
}

 /* muda bootstrap */

 @media (min-width: 1900px){
    .container,
    .container-lg,
    .container-md,
    .container-sm, 
    .container-xl,
    .container-xxl {
        max-width: 1720px;
    }
    .leftContentContainer {
        margin-left: -5px;
    }
    .rightContentContainer {
        margin-right: 38px;
    }
}






/* ### START NAVBAR ### */
nav {
    background: transparent;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 28px 0;
}

nav .container-fluid {
    margin: 0 auto;
    max-width: 980px;
}

nav ul.listMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 56px;
    cursor: default;
    user-select: none;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
}

nav ul.listMenuMobile {
    display: none;
}

nav ul.listMenu li {
    display: inline-block;
    position: relative;
    height: 56px;
    z-index: 1;
    vertical-align: top;
}

nav ul.listMenu a {
    display: flex;
    align-items: center;
    height: 56px;
    text-decoration: none;
    color: var(--black);
    transition: all .7s;
    font-weight: 700;
}

.listMenu .listItems a:nth-child(1) {
    margin-right: 53px;    
}

.listMenu .listItems a:nth-child(2) {
    margin-left: 53px;
}

#nav-icon {
    width: 36px;
    height: 18px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--black);
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 9px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }



@media only screen and (max-width: 767px) {
    nav {
        height: 46px;
        z-index: 9999;
        padding: 0;
        margin: 25px 0;
    }

    nav div.container-fluid {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .activedMenu {
        height: 100%;
    }

    nav ul.listMenuMobile {
        display: flex;
        z-index: 5;
        width: 100%;
        height: 46px;
        overflow: hidden;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        margin: 0;
    }

    nav ul.listMenuMobile li {
        /* display: inline-block; */
        display: flex;
        position: relative;
        height: 46px;
        z-index: 1;
        vertical-align: top;
        align-items: center;
    }

    nav ul.listMenuMobile li a {
        display: flex;
        align-items: center;
        height: 46px;
        text-decoration: none;
        color: var(--black);
    }

    nav ul.listMenuMobile li a img {
        width: 51px;
    }

    nav ul.listMenu {
        display: flex;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 664px;
        margin: 0 auto;
        padding: 0px 40px 8px;
        height: calc(100vh - 137px);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        justify-content: center;
        align-items: center;
        /* visibility: hidden;
        -webkit-transition: visibility 0s linear 1s;
        transition: visibility 0s linear 1s; */
    }

    nav ul.listMenu li:first-child {
        display: none;
    }

    nav ul.listMenu li {
        display: block;
    }

    nav .listItems {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav .listItems a {
        margin: 0 !important;
    }
}

/* ### END NAVBAR ### */